.env
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info/
dist/
build/
.venv/
.vscode/
local.settings.json
.python_packages/
__blobstorage__/
__queuestorage__/
__azurite_db*__.json
.funcignore
